body{
    background: #1c1e1f;
    margin: 0;
    padding: 0;
}
.carousel-wrap {
    margin: 0px auto;
    width: 94%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}
.owl-nav .owl-prev {
    top: 300px;
    left: -25px;
}

.owl-nav .owl-next {
    top: 300px;
    right: -25px;
}
.cast-img{
    height: 60vh;
}
.cast-info{
    background: #11151f;
    color: #949fab;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    height: 50vh;
}
.cast-info > h4  {
    color: #9fa8da;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 0 10px;
}

.cast-info > .title{
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    padding: 5px 16px 0 0;
}

.cast-info > .cast-quotes {
    color: #949fab;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    width: 100%;
    text-align: center;
    margin: 0 auto 25px auto;
}
.cast-info > .cast-quotes > .cast-p {
    display: inline-block;
    margin: 0 auto;
    width: 85%;
}
@media(min-width: 0px) and (max-width: 720px) {
    .carousel-wrap {
        width: 82%;
    }
}
.animated {
    visibility: hidden;
}
.overlay{
    background: #1c1e1f;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
    height: 110vh;
    width: 100%;
    transition: opacity 300ms ease-out;
}
.overlay:hover{
    opacity: 0;    
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .animated {
        visibility: visible;
    }
    .overlay{
        opacity: 0;    
    }
}