.gallery-wrap{
    background-image: url('../images/Adobe Stock Earth.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
    /* padding-top: 3%; */
}

.owl-carousel{
    border: 1px solid green;
    margin: 0 auto;
    width: 65%;
    padding: 10px;
}
.owl-carousel > .item > img{
    height: 200px;
} 
.item-img-wrap{
    margin: 0 auto;
    border: 1px solid orange;
    height: 600px;
    width: 60%;
    color: white;
}

.owl-dots{
    margin-top: -40px;
    margin-left: 45%;
}
.owl-dots .owl-dot {
    margin: 0px 5px;
    height: 13px;
    width: 13px;
    background-color: #7c7c7c;
    border-radius: 50%;
    display: inline-block;
}
.owl-dots .owl-dot span {
    background: none;
    border: none;
    padding: 0;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.owl-dots .owl-dot:hover {
    outline: none;
    background-color: #444;
}
.owl-dots .owl-dot.active {
    background-color: #444;
}