.gallery-wrap{
    background-image: url('../images/Adobe Stock Earth.png');
    background-repeat: no-repeat;
    height: 130%;
    background-size: cover;
    background-position: left;
    padding-top: 30px;
    /* padding-top: 110px; not for my laptop, use for bigger screens */
}

.owl-carousel{
    margin: 0px auto 0 auto;
    width: 65%;
    padding: 10px;
}
.owl-carousel > .item > img{
    height: 200px;
} 
.item-img-wrap{
    color: white;
}
.horizontal-wrap{
    padding-top: 100px;
}
.item-img-wrap img {
    margin: 0 auto;
}
.square-img{
    height: 750px; 
    width: 750px !important;
}
.horizontal-img{
    height: 600px; 
    width: 850px !important;
}

/* Custom Dots */
.owl-dots{
    padding-top: 20px; 
    text-align: center;
}
.owl-dots .owl-dot {
    margin: 0px 5px;
    height: 13px;
    width: 13px;
    background-color: #7c7c7c;
    border-radius: 50%;
    display: inline-block;
}
.owl-dots .owl-dot span {
    background: none;
    border: none;
    padding: 0;
    color: #7c7c7c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.owl-dots .owl-dot:hover {
    outline: none;
    background-color: #444;
}
.owl-dots .owl-dot.active {
    background-color: #444;
}

/* Custom Nav */
.owl-nav > div{
    position: absolute;
    top: 10%;
}
.owl-prev{
    /* margin-left: 12%; use this for bigger resolutions*/
    margin-left: 2%;
}
.owl-next{
    /* margin-left: 85%; use this for bigger resolutions*/
    margin-left: 93%;
}