
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;	
    height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bebaba; 
}

#text-span{
    font-size: 30px;
    font-variant: all-petite-caps;
}

main{
    height: 100%;
    width: 100%;
}
.intro-section{
    background-image: url('../images/About_bg.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.story-section {
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.story-decorations{
    text-align: center;
    height: 22%;
    padding-top: 15%;
    margin-left: -200px;
}

.scrollable-paragraph{
    margin-top: -100px;
    margin-left: 420px;
    height: 28%;
    border-radius: 7px;
    padding: 0px 15px 5px 5px;
    width: 56%;
    overflow-y: scroll;
    background-color: rgba(105, 102, 102, 0.01)
}
.scrollable-paragraph p {
    text-align: center;
    font-weight: 800;
    letter-spacing: normal;
    color: black;
    font-size: 16px;
    line-height: 28px;
}

@media(min-width: 1300px) and (max-width: 1950px) {
.scrollable-paragraph{
    margin-top: 30px;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
.intro-section{
    background-image: url('../images/saucy_mobile.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.story-decorations{
    height: 32%;
    padding-top: 45%;
    height: 50%;
    margin-left: 0px;
}
.scrollable-paragraph{
    margin-top: -20px;
    margin-left: 0px;
    border-radius: 7px;
    height: 42%;
    padding: 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    width: 95%;
    /* overflow: scroll; */
    background-color: rgba(105, 102, 102, 0.4)
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
.intro-section{
    background-image: url('../images/saucy_mobile.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size:cover;
}
.scrollable-paragraph{
    height: 35%;
}
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
.intro-section{
    background-image: url('../images/saucy_mobile.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size:cover;
}
.scrollable-paragraph{
    border-radius: 7px;
    height: 35%;
    padding: 10px;
    /* margin-top: 20px; */
    color: black;
    font-size: 15px;
    font-weight: 700;
    width: 93%;
}
}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
.intro-section{
    background-image: url('../images/saucy_mobile.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size:cover;
}
.scrollable-paragraph{
    height: 30%;
    width: 93%;
}
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {
.intro-section{
    background-image: url('../images/saucy_mobile.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size:cover;
}
.scrollable-paragraph{
    height: 30%;
    width: 93%;
}
}